<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <th scope="row"><a href="/admin_add_category">Add category</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/admin_view_category">view category</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/admin_add_tutor">Add tutor</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/admin_view_tutors">view tutor</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/admin_view_user">view user</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/admin_add_batch">Add batch</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/admin_view_batch">View batch</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/admin_add_ornament_costume">Add ornament and costume</a></th>
    </tr>
     <tr>
      <th scope="row"><a href="/admin_view_ornaments_and_costume">Add ornament and costume</a></th>
    </tr>
     <tr>
      <th scope="row"><a href="/admin_view_booking">view Booking</a></th>
    </tr>
     <tr>
      <th scope="row"><a href="view_feedback">view feedback</a></th>
    </tr>
     <tr>
      <th scope="row"><a href="logout">logout</a></th>
    </tr>
  </table>
</form>
</body>
</html>
