<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Videograph Template">
    <meta name="keywords" content="Videograph, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kalakendra</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/static/ndesigns/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/ndesigns/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/static/ndesigns/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/static/ndesigns/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/static/ndesigns/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/static/ndesigns/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/static/ndesigns/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
{#                        <a href="./index.html"><img src="/static/ndesigns/img/logo.png" alt=""></a>#}
                        <h2 style="color: white">Kalakendra</h2>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="header__nav__option">
                        <nav class="header__nav__menu mobile-menu">
                            <ul>
                                <li class="active"><a href="#">Home</a></li>
                                <li><a href="#about">About</a></li>
                                <li><a href="#arts">Festivals</a></li>
                                <li><a href="#clients">Clients</a></li>
                                <li><a href="/log">Login</a></li>
{#                                <li><a href="#">Pages</a>#}
{#                                    <ul class="dropdown">#}
{#                                        <li><a href="./about.html">About</a></li>#}
{#                                        <li><a href="./portfolio.html">Portfolio</a></li>#}
{#                                        <li><a href="./blog.html">Blog</a></li>#}
{#                                        <li><a href="./blog-details.html">Blog Details</a></li>#}
{#                                    </ul>#}
{#                                </li>#}
{#                                <li><a href="./contact.html">Contact</a></li>#}
                            </ul>
                        </nav>
                        <div class="header__nav__social">
{#                            <a href="/logins">Login</a>#}

                        </div>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="hero__slider owl-carousel">
            <div class="hero__item set-bg" data-setbg="/static/ndesigns/img/hero/bg5.jpeg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <span>For Visionaries and Visual Storytellers</span>
                                <h2>Bringing Your Creative Vision to Life</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__item set-bg" data-setbg="/static/ndesigns/img/hero/bg6.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <span>The Digital Gallery for Creators</span>
                                <h2>Showcasing Creativity in Every Pixel</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__item set-bg" data-setbg="/static/ndesigns/img/hero/bg4.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <span>Where Art Meets Imagination</span>
                                <h2>Unleashing Creative Potential Through Art</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Services Section Begin -->
    <section class="services spad" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="services__title">
                        <div class="section-title">
                            <span>Our services</span>
                            <h2>What We do?</h2>
                        </div>
                        <p>At this year's festival, experience an explosion of original artwork made exclusively by our talented student and local artists! Wander through our vibrant art market where every piece tells a unique story - from bold statement works to perfect dorm-room gems..</p>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="services__item">
{#                                <div class="services__item__icon">#}
{#                                    <img src="/static/ndesigns/img/icons/si-1.png" alt="">#}
{#                                </div>#}
                                <h4>Order Your Art with Ease</h4>
                                <p>Take home festival art with ease! Enjoy flexible pickup or delivery options, with every piece carefully packaged by the artists themselves. Shop confidently knowing your unique finds are protected—plus, same-day pickup is available for last-minute decor needs!"</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="services__item">
{#                                <div class="services__item__icon">#}
{#                                    <img src="/static/ndesigns/img/icons/si-2.png" alt="">#}
{#                                </div>#}
                                <h4>News & Insights</h4>
                                <p>Get the inside scoop on this year's hottest trends, must-see student artist spotlights, and can't-miss live events. From viral art challenges to surprise pop-up performances, we'll keep you updated on everything that makes our festival unforgettable.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="services__item">
{#                                <div class="services__item__icon">#}
{#                                    <img src="/static/ndesigns/img/icons/si-3.png" alt="">#}
{#                                </div>#}
                                <h4>Special packaging</h4>
                                <p>Take home festival treasures worry-free! Each artwork comes wrapped in special festival-themed packaging—not just protection, but part of the magic. With handmade touches and eco-friendly materials, unboxing becomes its own celebration!"</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="services__item">
{#                                <div class="services__item__icon">#}
{#                                    <img src="/static/ndesigns/img/icons/si-4.png" alt="">#}
{#                                </div>#}
                                <h4>Ratings & Customer Insights</h4>
                                <p>We value your input! Share your ratings and experiences to help us enhance our art community and ensure exceptional service for all our customers.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services Section End -->

    <!-- Work Section Begin -->
    <section class="work" id="arts">
        <div class="work__gallery">
            <div class="grid-sizer"></div>
            <div class="work__item wide__item set-bg" data-setbg="/static/ndesigns/img/work/bg4.jpg">

                <div class="work__item__hover">
                    <h4>Vibrant Expressionism</h4>

                </div>
            </div>
            <div class="work__item small__item set-bg" data-setbg="/static/ndesigns/img/work/bg7.jpg">


                <div class="work__item__hover">
                    <h4>Abstract Expressionism</h4>

                </div>
            </div>
            <div class="work__item small__item set-bg" data-setbg="/static/ndesigns/img/work/bg5.jpg">

                <div class="work__item__hover">
                    <h4>Vibrant Expressionism</h4>

                </div>
            </div>
            <div class="work__item large__item set-bg" data-setbg="/static/ndesigns/img/work/bg8.jpg">

                <div class="work__item__hover">
                    <h4>Abstract Expressionism</h4>

                </div>
            </div>
            <div class="work__item small__item set-bg" data-setbg="/static/ndesigns/img/work/bg1.jpg">

                <div class="work__item__hover">
                    <h4>Vibrant Expressionism</h4>

                </div>
            </div>
            <div class="work__item small__item set-bg" data-setbg="/static/ndesigns/img/work/bg.jpg">

                <div class="work__item__hover">
                    <h4>Abstract Expressionism</h4>

                </div>
            </div>
            <div class="work__item wide__item set-bg" data-setbg="/static/ndesigns/img/work/bg3.jpg">

                <div class="work__item__hover">
                    <h4>Vibrant Expressionism</h4>

                </div>
            </div>
        </div>
    </section>
    <!-- Work Section End -->

    <!-- Counter Section Begin -->
    <section class="counter" id="clients">

        <div class="container">

            <div class="counter__content">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="counter__item">
                            <div class="counter__item__text">
                                <img src="/static/ndesigns/img/icons/ci-1.png" alt="">
                                <p>"The festival's colors and textures overwhelmed me with emotion—it felt like stepping into another world!"</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="counter__item second__item">
                            <div class="counter__item__text">
                                <img src="/static/ndesigns/img/icons/ci-2.png" alt="">
                                <p>"Every performance, every booth—they all tell a story, pulling you in and leaving a memory that stays long after the festival ends."</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="counter__item third__item">
                            <div class="counter__item__text">
                                <img src="/static/ndesigns/img/icons/ci-3.png" alt="">
                                <p>"This festival is absolutely stunning! The creativity and attention to detail are incredible—I could spend hours exploring every booth and performance!"</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="counter__item four__item">
                            <div class="counter__item__text">
                                <img src="/static/ndesigns/img/icons/ci-4.png" alt="">
                                <p>"It’s rare to find a school festival that hits you this deeply—every performance and exhibit just gets you. Completely spellbinding!"</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Counter Section End -->

    <!-- Team Section Begin -->
{#    <section class="team spad set-bg" data-setbg="/static/ndesigns/img/team-bg.jpg">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-lg-12">#}
{#                    <div class="section-title team__title">#}
{#                        <span>Meet our</span>#}
{#                        <h2>Creative Works</h2>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="row">#}
{#                <div class="col-lg-3 col-md-6 col-sm-6 p-0">#}
{#                    <div class="team__item set-bg" data-setbg="/static/ndesigns/img/work/work15.jpg">#}
{#                        <div class="team__item__text">#}
{#                            <h4>Abstract Expressionism</h4>#}
{#                            <p>Artist</p>#}
{##}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-lg-3 col-md-6 col-sm-6 p-0">#}
{#                    <div class="team__item team__item--second set-bg" data-setbg="/static/ndesigns/img/work/work16.jpg">#}
{#                        <div class="team__item__text">#}
{#                            <h4>Vibrant Expressionism</h4>#}
{#                            <p>Artist</p>#}
{##}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-lg-3 col-md-6 col-sm-6 p-0">#}
{#                    <div class="team__item team__item--third set-bg" data-setbg="/static/ndesigns/img/work/work17.jpg">#}
{#                        <div class="team__item__text">#}
{#                            <h4>Abstract Expressionism</h4>#}
{#                            <p>Artist</p>#}
{##}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-lg-3 col-md-6 col-sm-6 p-0">#}
{#                    <div class="team__item team__item--four set-bg" data-setbg="/static/ndesigns/img/work/work18.jpg">#}
{#                        <div class="team__item__text">#}
{#                            <h4>Vibrant Expressionism</h4>#}
{#                            <p>Artist</p>#}
{##}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-lg-12 p-0">#}
{#                    <div class="team__btn">#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
    <!-- Team Section End -->

    <!-- Latest Blog Section Begin -->
    <section class="latest spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title center-title">
                        <span>Our Arts</span>
                        <h2>"Kalakendra Insights"</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="latest__slider owl-carousel">
                    <div class="col-lg-4">
                        <div class="blog__item latest__item">
                            <h4>Masterpiece Highlights</h4>

                            <p>Step into the stories behind our festival’s most iconic displays—discover the creativity, passion, and hidden meanings that make them unforgettable! From tiny details to grand themes, uncover what gives these student masterpieces their magic</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog__item latest__item">
                            <h4>Emerging Artists Spotlight</h4>

                            <p>Meet the next generation of creators right here at our festival! From bold painters to innovative performers, discover the up-and-coming talent shaking up our event.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog__item latest__item">
                            <h4>Techniques & Tips</h4>

                            <p>From brushwork to digital design, learn practical art techniques and tips to enhance your skills.
                                Perfect for artists looking to expand their toolkit or try something new</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog__item latest__item">
                            <h4>Art World News & Trends</h4>

                            <p>Stay updated with the latest trends, exhibitions, and events shaping the art scene.
                                Whether local or global, find out what’s new and noteworthy in the art world.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog__item latest__item">
                            <h4>Masterpiece Highlights</h4>

                            <p>Explore the stories behind iconic works of art and learn what makes them timeless.
                                Dive into the details, symbolism, and history that give these masterpieces their lasting allure.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog__item latest__item">
                            <h4>Emerging Artists Spotlight</h4>

                            <p>Discover fresh talent in the art world. This section introduces rising artists,
                                showcasing their unique styles, inspirations, and creative journeys.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog__item latest__item">
                            <h4>Techniques & Tips</h4>

                            <p>From brushwork to digital design, learn practical art techniques and tips to enhance your skills.
                                Perfect for artists looking to expand their toolkit or try something new</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Latest Blog Section End -->

    <!-- Call To Action Section Begin -->
    <section class="callto spad set-bg" data-setbg="/static/ndesigns/img/calltogo.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="callto__text">
                        <h2>New Visions, Bold Expressions – Elevating Your Creative Journey.</h2>
                        <p>Where Inspiration Meets Imagination, and Every Canvas Tells a Story.</p>
{#                        <a href="#">Start your stories</a>#}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Call To Action Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="footer__top">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
{#                        <div class="footer__top__logo">#}
{#                            <a href="#"><img src="/static/ndesigns/img/logo.png" alt=""></a>#}
{#                        </div>#}
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="footer__top__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__option">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="footer__option__item">
                            <h5>About us</h5>
                            <p>Formed in 2006 by Matt Hobbs and Cael Jones, Videoprah is an award-winning, full-service
                                production company specializing.</p>
                            <a href="#" class="read__more">Read more <span class="arrow_right"></span></a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-3">
                        <div class="footer__option__item">
                            <h5>Who we are</h5>
                            <ul>
                                <li><a href="#">Team</a></li>
                                <li><a href="#">Carrers</a></li>
                                <li><a href="#">Contact us</a></li>
                                <li><a href="#">Locations</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-3">
                        <div class="footer__option__item">
                            <h5>Our work</h5>
                            <ul>
                                <li><a href="#">Feature</a></li>
                                <li><a href="#">Latest</a></li>
                                <li><a href="#">Browse Archive</a></li>
                                <li><a href="#">Video for web</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="footer__option__item">
                            <h5>Newsletter</h5>
                            <p>Videoprah is an award-winning, full-service production company specializing.</p>
                            <form action="#">
                                <input type="text" placeholder="Email">
                                <button type="submit"><i class="fa fa-send"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__copyright">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p class="footer__copyright__text">Copyright &copy;
                            <script>
                                document.write(new Date().getFullYear());
                            </script>
                            All rights reserved | This template is made with <i class="fa fa-heart-o"
                                aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="/static/ndesigns/js/jquery-3.3.1.min.js"></script>
    <script src="/static/ndesigns/js/bootstrap.min.js"></script>
    <script src="/static/ndesigns/js/jquery.magnific-popup.min.js"></script>
    <script src="/static/ndesigns/js/mixitup.min.js"></script>
    <script src="/static/ndesigns/js/masonry.pkgd.min.js"></script>
    <script src="/static/ndesigns/js/jquery.slicknav.js"></script>
    <script src="/static/ndesigns/js/owl.carousel.min.js"></script>
    <script src="/static/ndesigns/js/main.js"></script>
</body>

</html>