<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <th scope="row"><a href="/manage_profile">manage Profile</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/user_view_allocated_tutor">view allocated tutor</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/user_view_verified_request">view verified request</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/user_book_ornament_and_costume">Book Ornament & Costume</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/user_view_cart">My Cart</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/user_send_feedback">Send Feedback</a></th>
    </tr>


     <tr>
      <th scope="row"><a href="logout">logout</a></th>
    </tr>
  </table>
</form>
</body>
</html>
